# requirements.txt
langchain==0.2.16
langchain-openai==0.1.23
langchain-community==0.2.16
langchain-chroma==0.1.4
pypdf==4.3.1
python-dotenv==1.0.1
python-multipart==0.0.20
cohere==5.9.1
ragas==0.1.21
datasets==2.21.0
nest-asyncio==1.6.0
requests==2.32.3
streamlit==1.50.0
fastapi==0.115.0
uvicorn==0.30.6