# requirements.txt
langchain==0.2.16
langchain-openai==0.1.23
langchain-community==0.2.16
langchain-chroma==0.1.4
pypdf==4.3.1
python-dotenv==1.0.1
cohere==5.9.1
ragas==0.1.21
fastapi==0.115.0
uvicorn==0.30.6